body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #07298f;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #3ea8ea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header h1 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 0;
}

#word {
  font-size: 3rem;
  font-weight: bold;
  color: #ffff;
}

.word-placeholder {
  background-color: rgba(255, 255, 255, 0);
  min-height: 6rem;
}

.image-container {
  border: 2px solid #ffff;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  overflow: hidden;
  width: 900px;
  height: 300px;
  position: relative;
}

.image-slider {
  display: flex;
  gap: 0.5rem; /* 画像間のスペースを設定 */
  animation: slide 20s linear infinite; /* アニメーションを追加 */
  position: absolute;
}

.word-image-placeholder {
  background-color: rgba(255, 255, 255, 0);
  min-width: 300px;
  min-height: 300px;
  display: block;
}

/* 横に流れるアニメーションを追加 */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

#timer {
  font-size: 1.5rem;
  margin: 1rem 0;
  min-height: 2.5rem;
  color: #ffff;
}

#score {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3ea8ea;
  margin: 1rem 0;
  border: 2px solid #3ea8ea;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #3ea8ea;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #3ea8ea;
}

button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

/* 擬似キーボードのスタイル */
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.keyboard-row {
    display: flex;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.2rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    user-select: none;
}

.key.pressed {
    background-color: orange;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.steam {
  position: absolute;
  bottom: 0;
  height: 300px;  /* height was increased */
  width: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50% / 200%;
  animation: rise 8s infinite, sway 2s infinite; 
}

@keyframes sway {
  0%, 100% {
      transform: translateX(0);
  }
  33% {
      transform: translateX(-10px);
  }
  66% {
      transform: translateX(10px);
  }
}

.steam:nth-child(3n-1) {
  animation: rise 8s infinite, sway 2s -1s infinite;  /* Apply two animations with different delay */
}
.steam:nth-child(3n) {
  animation: rise 8s infinite, sway 2s 0s infinite;  /* Apply two animations with different delay */
}
.steam:nth-child(3n+1) {
  animation: rise 8s infinite, sway 2s 1s infinite;  /* Apply two animations with different delay */
}

@keyframes rise {
  0% {
      bottom: 0;
      transform: scale(0, 1);
      opacity: 0.5;
  }
  50% {
      opacity: 1;
  }
  100% {
      bottom: 100%;
      transform: scale(2, 0);
      opacity: 0;
  }
}
